svg {
  border: 5px solid red;
}
#content {
  position: absolute;
  background-color: cyan;
  min-height: 25px;
  transition: transform 0.4s ease;
  pointer-events: none;
}
.content-container {
  position: relative;
}
